<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
        <testsuites>
            <testsuite name="Restack test suite">
                <directory>tests/Restack/*Test.php</directory>
            </testsuite>
        </testsuites>
        
        <filter>
            <whitelist>
                <directory suffix=".php">lib/Restack/</directory>
            </whitelist>
        </filter>
</phpunit>